:root {
  --main-color: #93ca55;
  --text-color: #2e2d35;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
.container {
  max-width: 130rem;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: var(--text-color);
}
.header {
  width: 100%;
  height: 100vh;
  position: relative;
}
hr {
  width: 45%;
  margin: 2.4rem 0;
  height: 6px;
  background-color: #31a95d;
  border: none;
}
/*********** Start navbar ***********/

.nav {
  height: 70px;
}
.logo {
  width: 150px;
}
.nav .nav-content {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .menu-icon {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .menu-icon i {
  font-size: 1.8rem;
  color: var(--main-color);
}

/*********** Start hero section ***********/
.hero-img {
  max-width: 930px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.primary-heading {
  font-size: 5.4rem;
  color: var(--text-color);
  margin-bottom: 3.6rem;
}
.hero-content {
  width: 50%;
  margin-top: 12.8rem;
}
.hero-section p {
  font-size: 2.2rem;
  color: var(--text-color);
  margin-bottom: 8rem;
  font-weight: 400;
  line-height: 1.6;
}
button {
  font-size: 1.8rem;
  border-radius: 100px;
  border: none;
  padding: 1.6rem 3.2rem;
  cursor: pointer;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.main-btn {
  background-image: linear-gradient(45deg, #b5d653, #019961);
  color: white;
}
.buttons .second-btn {
  background-color: white;
  color: var(--text-color);
  border: 1px solid var(--text-color);
}
.buttons span {
  font-size: 1.8rem;
}

/*********** Start hwo it works section ***********/
.how-works {
  margin-bottom: 12.8rem;
}
.secondry-heading {
  font-size: 3.2rem;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 5rem;
}
.how-works .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.8rem;
}
.how-works .feature {
  padding: 6.4rem 3.2rem;
  border-radius: 18px;
  text-align: center;
}
.how-works .feature.middle {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  background-color: white;
}
.how-works .feature.middle .shape {
  position: absolute;
  top: 0;
  right: 0;
}
.how-works .feature.middle::before {
  content: url("../images/img2.png");
  position: absolute;
  top: -54px;
  right: -115px;
  z-index: -1;
}
.how-works .feature.middle::after {
  content: url("../images/img3.png");
  position: absolute;
  bottom: -97px;
  left: -48px;
  z-index: -1;
}
.how-works .feature h3 {
  font-size: 2.2rem;
  margin: 2.4rem 0 3.2rem 0;
}
.how-works .feature p {
  font-size: 1.8rem;
}

/*********** Start calculate emissions section ***********/

.emissions {
  margin: 20.8rem 0;
}
.emissions .content,
.contact .content {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.15);
  border-radius: 38px;
  padding: 12.8rem;
  position: relative;
}

.emissions .content input,
.contact .content input,
.contact .content textarea {
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
  font-family: inherit;
  border: none;
  border-bottom: 2px solid #eee;
  padding: 1rem 0;
}
.emissions .content input:focus,
.contact .content input:focus {
  outline: none;
}
.emissions .content .btn {
  margin: 3.2rem auto;
  text-align: center;
}
.emissions .content p {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-top: 2.4rem;
}
.emissions .content .img {
  position: absolute;
  z-index: -1;
}
.emissions .content .img1 {
  top: -196px;
  left: -180px;
  width: 350px;
}
.emissions .content .img2 {
  top: -237px;
  right: -168px;
  height: 350px;
  z-index: 1;
}
.emissions .content .img3 {
  bottom: -47px;
  left: -241px;
}
.emissions .content .img4 {
  bottom: -6px;
  right: -332px;
}

/*********** Start about projrct ***********/
.third-heading {
  font-size: 4rem;
  margin-bottom: 2.4rem;
  color: var(--text-color);
}
.third-heading::before {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  background-color: #b4d653;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 2.4rem;
}
.about-project .content {
  display: flex;
  align-items: center;
  gap: 6.4rem;
}
.about-project .left {
  margin-left: -15%;
}
.about-project .content_ .left {
  margin-right: -15%;
}
.about-project .right {
  float: right;
  padding: 0 4.8rem;
}
.about-project .content_ .right {
  padding: 0 6.4rem;
}
.about-project p {
  font-size: 1.8rem;
  line-height: 2.8;
  color: var(--text-color);
  font-weight: normal;
}

/*********** Start contact us ***********/
.contact {
  margin-top: 20.8rem;
  margin-bottom: 6.4rem;
  position: relative;
}
.contact .content .secondry-heading {
  text-align: left;
}
.contact .content form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.8rem;
}
.contact .content textarea {
  height: 18.2rem;
  resize: none;
}
.contact .content textarea:focus {
  outline: none;
}
.contact .content .btn {
  text-align: center;
  margin-top: 2.4rem;
}
.contact .content .btn button {
  background: transparent;
  border: 1px solid #31a95d;
  color: var(--text-color);
}
.contact .content {
  padding: 6.4rem;
}
.contact .content p {
  margin-top: 1rem;
}
.contact .img8 {
  position: absolute;
  left: -40%;
  bottom: 0;
}
.contact .img9 {
  position: absolute;
  right: -50%;
  top: 20%;
  transform: translate(0, -20%);
  -webkit-transform: translate(0, -20%);
  -moz-transform: translate(0, -20%);
  -ms-transform: translate(0, -20%);
  -o-transform: translate(0, -20%);
}
.hr {
  margin: 2rem 0;
  display: flex;
  flex-shrink: initial;
}
/*********** Start hr ***********/

.hr span {
  height: 12px;
  width: 25%;
}
.s-1 {
  background-color: #b5d653;
}
.s-2 {
  background-color: #79c258;
}
.s-3 {
  background-color: #3dad5c;
}
.s-4 {
  background-color: #019961;
}

/*********** Start footer ***********/
.footer {
  margin: 2.4rem 0;
}
.footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer ul {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}
.footer a:link,
.footer a:visited {
  font-size: 1.8rem;
}
/* 
    Spacing system in px:
    2 / 4 / 8 / 12 / 16 / 20 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 160 / 176 / 192 / 208

    Font size in px:
    10 / 12 / 14 / 16 / 18 /  20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
