:root {
  --main-color: #93ca55;
  --text-color: #2e2d35;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Montserat", sans-serif;
}
.container {
  max-width: 130rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: var(--text-color);
}

/*********** Start navbar ***********/

.nav {
  height: 70px;
}
.nav .logo {
  width: 150px;
}
.nav .nav-content {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .menu-icon {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .menu-icon i {
  font-size: 1.8rem;
  color: var(--main-color);
}
